
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/public/assets/
/assets/vendor/
/.php-cs-fixer.cache
/.phpcs-cache
/var/
/vendor/
/public/bundles/
